---
#layout: home (valor inicial)
# adaptado do exemplo https://raw.githubusercontent.com/mmistakes/minimal-mistakes/master/docs/_pages/splash-page.md
# con zonas "comentadas" para non perder as opcións de configuración que se ven

title: "KALABRADAS"
permalink: /
date: 2021-01-01
layout: splash
header:
  #overlay_color: "#000" #filtro de cor
  #overlay_filter: "0.5" #para transparencia
  overlay_image: /assets/images/cabeceira.jpeg
  #actions: #engade botón
    #- label: "Acceso ao blog"
    #  url: "https://kalabradas.club/blog/"
  caption: "Crédito: [**pixelfed**](https://pixelfed.social)"
excerpt: "."
intro: 
  - excerpt: '**Blog dedicado a contar lugares, traballos, receitas e _kalabradas_ varias.**'
definicion:
  - excerpt: '**Kalabrada**, _substantivo femenino_: Acto propio da _kabra_.' 
feature_row:
  - image_path: assets/images/sx_salto.jpg
    alt: "kabra saltando unha pequena cacharela"
    title: "kabra"
    excerpt: '_kabra_ saltando unha cacharela.'
    url: "/about"
    btn_label: "Acerca de"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="definicion" type="center" %}

{% include feature_row type="center" %}

